<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "tj_profile.png", width: 300, alt: "Profile Image" %>
  </div>
  <div class="col-md-8">
    <p>We live in perhaps the most important time in human history, where the decisions made today will determine the future of our civilization and the planet we call home.

    I believe we have a responsibility to each do our part not only for our children, but for future generations. From societal inequality to pollution and environmental issues, I believe technology will play a crucial role in the advancement of our civilization and perhaps be our saviour.

    This is one of the reasons I decided to enter the tech field. While music has been my main passion in life, with the current political and environmental issues we face, I wanted to be a part of something bigger - the solution.

    I am a Full Stack Web Developer, specializing in Ruby On Rails & JavaScript. Standing in awe of the technology that has been built before & currently being built, I am excited to be a part of it & to contribute my time, energy & talents.</p>
  </div>
</div>
